.slick-prev:before, .slick-next:before {
    color: #cdcbcb;
    font-size: 20px;
    
}
.slick-prev {
    left: -11px;
    /* color: #979090;
    background-color: aliceblue; */
 
}
.slick-next{
    right: 10px;
}